* {
  box-sizing: border-box;
}

body {
  background-color: #231f42;
}


.app {
  max-width: 1024px;
  margin: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  align-items: flex-start;
}
