* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dice {
    background-color: #fff;

    border: solid 2px #000;
    border-radius: 10px;

    width: 150px;
    height: 150px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
        "a1 . c1"
        "a2 b2 c2"
        "a3 . c3";

    gap: 10px;

    padding: 10px;
    margin: 10px;
}

.dice aside {
    background-color: #000;
    border-radius: 50%;
    margin: 4px;
}

/* hitta bättre lösning */

.dots-1 aside:nth-child(1) {
    grid-area: b2;
}

.dots-1 aside:nth-child(2),
.dots-1 aside:nth-child(3),
.dots-1 aside:nth-child(4),
.dots-1 aside:nth-child(5),
.dots-1 aside:nth-child(6) {
    display: none;
}

.dots-2 aside:nth-child(1) {
    grid-area: a1;
}

.dots-2 aside:nth-child(2) {
    grid-area: c3;
}

.dots-2 aside:nth-child(3),
.dots-2 aside:nth-child(4),
.dots-2 aside:nth-child(5),
.dots-2 aside:nth-child(6) {
    display: none;
}

.dots-3 aside:nth-child(1) {
    grid-area: a1;
}

.dots-3 aside:nth-child(2) {
    grid-area: b2;
}

.dots-3 aside:nth-child(3) {
    grid-area: c3;
}

.dots-3 aside:nth-child(4),
.dots-3 aside:nth-child(5),
.dots-3 aside:nth-child(6) {
    display: none;
}

.dots-4 aside:nth-child(1) {
    grid-area: a1;
}

.dots-4 aside:nth-child(2) {
    grid-area: a3;
}

.dots-4 aside:nth-child(3) {
    grid-area: c1;
}

.dots-4 aside:nth-child(4) {
    grid-area: c3;
}

.dots-4 aside:nth-child(5),
.dots-4 aside:nth-child(6) {
    display: none;
}

.dots-5 aside:nth-child(1) {
    grid-area: a1;
}

.dots-5 aside:nth-child(2) {
    grid-area: a3;
}

.dots-5 aside:nth-child(3) {
    grid-area: b2;
}

.dots-5 aside:nth-child(4) {
    grid-area: c1;
}

.dots-5 aside:nth-child(5) {
    grid-area: c3;
}

.dots-5 aside:nth-child(6) {
    display: none;
}

.dots-6 aside:nth-child(1) {
    grid-area: a1;
}

.dots-6 aside:nth-child(2) {
    grid-area: a2;
}

.dots-6 aside:nth-child(3) {
    grid-area: a3;
}

.dots-6 aside:nth-child(4) {
    grid-area: c1;
}

.dots-6 aside:nth-child(5) {
    grid-area: c2;
}

.dots-6 aside:nth-child(6) {
    grid-area: c3;
}
