@use "../scss/colors.scss";

.tickets {
    >header {
        display: flex;
        justify-content: center;
        margin: 100px 0 50px 0;
    }

    &__title {
        text-align: center;
        max-width: 15rem;
        color: colors.$pink;
    }
}
