@use '../../scss/colors';

.interval-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin: 2rem 0 4rem 0;

  &__time {
    font-size: 80px;
    font-weight: 700;
    line-height: 104px;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    > aside {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    font-size: 80px;
    font-weight: 700;
    line-height: 104px;
    letter-spacing: 0.1em;
    text-align: center;

    padding: 0;
    margin: 0 auto 0;
    border: none;
    background: none;
    pointer-events: none;
  }

  &__unit {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: colors.$bright-gray;
  }

  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: center;
    justify-self: center;

    &:hover {
      path {
        transition: all 0.25s;
        stroke: colors.$bright-gray;
      }
    }
  }
}
