body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #d4d4d4;
    background-color: #171717;
}

main {
    width: 900px;
    padding: 10px;
    margin: auto;
}

h1,
h2 {
    margin-top: 40px;
    color: #f5f5f5;
}

article {
    background-color: #262626;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 30px;
    border: 1px solid #404040;
    border-radius: 10px;
}

figure {
    margin: 20px;
    display: inline-block;
}

figcaption {
    color: #a3a3a3;
    font-style: italic;
}

img {
    width: 200px;
}

blockquote {
    color: #a3a3a3;
    margin-left: 25px;
    padding-left: 10px;
    border-left: 3px solid #404040;
    font-style: italic;
}

cite {
    color: #737373;
    font-style: normal;
    white-space: nowrap;
}

a {
    color: #0ea5e9;
}

a:hover {
    color: #7dd3fc;
}

.header {
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.images {
    text-align: center;
}

.wikipedia {
    text-align: center;
    margin-bottom: 20px;
}

.sources {
    color: #d4d4d4;
}
